@model ReaList.Library.Model.Properties.PropertyModel

@{
    ViewData["Title"] = "Listings";
}

@*<div class="text-center mt-5">
    <form asp-controller="Agent" asp-action="AddProperty" method="post">
        <input type="submit" class="btn btn-primary" value="Add Property" />
    </form>
</div>*@


<h1>LISTINGS</h1>

<p>
    <a asp-action="AddProperty" class="btn btn-primary">Add Property</a>
</p>

