.text-center.h1.fw-bold.mb-5 {
    color: #283B62;
}

.btn.btn-primary.btn-lg.px-5{
    background-color: #283B62;
}

@media only screen and (max-width: 768px) {
    .card {
        margin: 30px;
    }
  }