<!doctype html>
<html lang="en">

<head>
    <title>About Us</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/about-us.css">
    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- Bootstrap Font and Icons 1.3.0 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- Datatables CSS -->

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
</head>

<body>


    <main>
        <section class="story-and-how">
            <div class="container story-and-how text-center">
                <div class="container story-and-how">
                    <h1 class="story-how-header">OUR STORY</h1>
                    <p class="story-how-p">
                        Welcome to <span class="bold-text">ReaList</span> where dreams find their perfect address.
                        We believe that every individual deserves a place they can call home—a sanctuary that reflects their unique
                        lifestyle and aspirations. Our story is one of passion, innovation, and a commitment to helping you navigate
                        the exciting journey of finding your ideal property. Founded in 2023, we set out with a simple yet ambitious
                        mission: to connect buyers and agents in a seamless and empowering online platform.
                        Our vision was to revolutionize the way properties are discovered and experienced, providing a
                        comprehensive hub for all your real estate needs. Through cutting-edge technology and a user-centric approach,
                        we have built a dynamic ecosystem that simplifies property search, streamlines the visit process,
                        and empowers individuals with the information they need to make informed decisions. We understand that finding the
                        perfect property is a personal journey, unique to each individual.
                        That's why we strive to provide you with a tailored experience, featuring intuitive search tools, detailed property
                        profiles, high-quality imagery, and insightful neighborhood information. Our user-friendly interface ensures that
                        you can effortlessly explore listings, connect with agents, schedule viewings, and engage in meaningful
                        conversations—all from the comfort of your own device.
                    </p>
                </div>
                <div class="container story-and-how">
                    <h1 class="story-how-header">HOW WE STARTED</h1>
                    <p class="story-how-p">
                        The story of <span class="bold-text">ReaList</span> began with a shared vision and a deep passion for revolutionizing
                        the way people navigate the real estate market.It all started in 2023 when our founders, <span class="bold-text">Airol Mendoza</span>,
                        <span class="bold-text">Eijai Tingting</span>, <span class="bold-text">Bea Resubal</span>, and <span class="bold-text">Charles Emerson Eje</span>
                        recognized the challenges and frustrations faced by individuals seeking their ideal properties. They saw a need for a
                        comprehensive and user-friendly platform that would empower buyers and agents with the
                        tools and resources to make informed decisions. Driven by their entrepreneurial spirit and a genuine desire to
                        make a positive impact, they embarked on a journey to create a revolutionary web platform. Armed
                        with their expertise in technology and real estate, they assembled a team of dedicated professionals who shared their vision.
                    </p>
                </div>
            </div>
        </section>

        <section class="mission-vision">
            <div class="container-fluid p-0">
                <div class="row g-0 text-center">
                    <div class="col-lg-6 order-lg-2 mv1-image">
                        <img src="/images/LP1.jpg" alt="">
                    </div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2 class="mission-header">MISSION</h2>
                        <p class="mb-0 text-center p-4">
                            We are ReaList. Our mission is to provide a safe space of exploring and buying properties at the comfort of your home.

                        </p>
                    </div>
                </div>
                <div class="row g-0 text-center">
                    <div class="col-lg-6 mv2-image">
                        <img src="/images/LP2.jpg" alt="">
                    </div>
                    <div class="col-lg-6 my-auto showcase-text">
                        <h2 class="vision-header">VISION</h2>
                        <p class="mb-0 text-center p-4">
                            We are ReaList. Our vision is to make property searching safer and simpler with the help of modern browsing.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="contact-us">
            <div class="d-flex container justify-content-center">
                <div class="row container g-3 col-md-10">
                    <div class="col-md-8" id="contactus">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="container reachus">
                                    <p class="title-reachus">Reach Us Through</p>
                                    <p class="title-sales">SALES:</p>
                                    <p class="sales-email">sales@realist.com</p>
                                    <p class="title-admin">ADMIN:</p>
                                    <p class="admin-email">adminsupport@realist.com</p>
                                    <p class="title-custcare">CUSTOMER CARE:</p>
                                    <p class="customer-email">customercare@realist.com</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="container followus">
                                    <p class="title-followus">Follow Us</p>
                                    <div class="center socmed">
                                        <i class="bi bi-facebook"></i><i class="bi bi-twitter"></i><i class="bi bi-instagram"></i>
                                    </div>
                                    <p class="compadd">711-2880 Nulla St. Manila, Philippines 96522</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="container contactus mb-5">
                            <form>
                                <p class="title-contactus">CONTACT US</p>
                                <div class="form-group">
                                    <label for="first-name"><b>First Name</b></label>
                                    <input type="text" class="form-control" id="first-name" name="first-name"><br>
                                    <label for="last-name"><b>Last Name</b></label>
                                    <input type="text" class="form-control" id="last-name" name="last-name"><br>
                                    <label for="email"><b>Email</b></label>
                                    <input type="email" class="form-control" id="email" name="email"><br>
                                    <label for="subject"><b>Subject</b></label>
                                    <input type="text" class="form-control" id="subject" name="subject"><br>
                                    <textarea id="message" name="message" placeholder="Type your message here..." rows="4"
                                              cols="35"></textarea>
                                    <div>
                                        <button type="submit" class="submitBtn">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> <!-- row end tag -->
            </div> <!-- d-flex end tag -->
        </section>
    </main>
    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
    <script src="./js/agent-bookingmanagement.js"></script>
</body>
</html>