@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <main>
        <section class="vh-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-4">
                    <h1 class="admin-portal-title">ADMIN PORTAL</h1>
                    <div class="card">
                        <div class="card-body p-5 text-center">
                            <div class="mb-md-5 mt-md-4 pb-5">
                                <h1 class="text-center mb-5 login-bold">Login</h1>

                                <form>
                                    <div class="form-outline form-white mb-4">
                                        <input type="email" id="emailAdd" class="form-control form-control-lg"
                                            placeholder="Email" />
                                        <label class="form-label" for="emailAdd"></label>
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <input type="password" id="newPassword" class="form-control form-control-lg"
                                            placeholder="Password" />
                                        <label class="form-label" for="newPassword"></label>
                                    </div>
                                    <div class="form-outline form-white mb-4">
                                        <input type="checkbox" class="form-check-input" id="rememberMe">
                                        <label class="form-check-label" for="rememberMe">Remember me</label>
                                    </div>

                                    <p class="small mb-5 pb-lg-2"><a class="text-black"
                                            href="admin-forgotpassword.html">Forgot password?</a></p>

                                    <button class="btn btn-primary btn-lg px-5" type="submit" >Login</button>
                                </form>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
}
